<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets async="true">

    <target name="err" xsi:type="File"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}|${exception:format=tostring}" 
            fileName="d:\logs\dynamic-load-test-error.txt"
            archiveFileName="d:\logs\archive\dynamic-load-test-error.{#####}.txt"
            archiveAboveSize="5000000"
            archiveEvery="Month"
            archiveNumbering="Sequence"
            maxArchiveFiles="6" />

    <target name="log" xsi:type="File"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}"
            fileName="d:\logs\dynamic-load-test-log.txt"
            archiveFileName="d:\logs\archive\dynamic-load-test-log.{#####}.txt"
            archiveAboveSize="5000000"
            archiveEvery="Month"
            archiveNumbering="Sequence"
            maxArchiveFiles="6" />

    <target name="con" xsi:type="ColoredConsole"
            layout="${time} - [${level}] : ${message}" />

  </targets>

  <rules>
    <logger name="Microsoft.*" maxLevel="Info" final="true"/>
    
    <logger name="*" minlevel="Trace" writeTo="log" />
    
    <logger name="*" minlevel="Warn" writeTo="err" />
    <logger name="*" minlevel="Trace" writeTo="con" />
    <!--
    -->
  </rules>
</nlog>
